/*

	game.css

*/

#game-tablearea {
	width: 690px;
	height: 345px;
	margin: auto 35px auto 35px;
}

.game-table-wrapper {
	margin-top: 5px;
	width: 340px;
	height: 340px;
	background-image: url("../gfx/Border.png");
}

.game-table {
	width: 322px;
	height: 322px;
	padding-left: 10px;
	padding-top: 10px;
	position: relative;
}

.game-table-wrapper-left {
	float: left;
}

.game-table-wrapper-right {
	float: right;
}

.game-table-row {
	margin: 0;
	padding: 0;
}

.game-table-cell {
	position: relative;
	height: 30px;
	width: 30px;
	margin: 0;
	padding: 0;
	float: left;
	border: 1px solid #CCC2C2;
	background-image: url('../gfx/WaterTexture.png');
}

.game-table-cell img {
	top: 0;
	left: 0;
	position: absolute;
	z-index: 3;
}

.game-table-opponent-cell {
	position: relative;
	height: 30px;
	width: 30px;
	margin: 0;
	padding: 0;
	float: left;
	border: 1px solid #CCC2C2;
	background-image: url('../gfx/WaterTexture.png');
}

.game-table-opponent-cell img {
	top: 0;
	left: 0;
	position: absolute;
	overflow: visible;
	z-index:1;
}

#game-chat {
	width: 688px;
	margin: 8px 35px auto 35px;
	height: 155px;
	border: 1px solid black;
}

#game-chat-log {
	width: 100%;
	height: 125px;
	margin: auto auto auto auto;
	padding-left: 2px;
}

#game-chat-input {
	width: 678px;
	padding-left: 2px;
}

#game-chat-input-text {
	width: 100%;
	height: 20px;
}

#game-table-ships {
	display: none;
	overflow: visible;
	position: relative;
}

.game-table-ships-buttons {
	height: 40px;
	width: 205px;
	position: absolute;
	left: 70px;
	top: 290px;

}

.game-table-ships-button {
	width: 100px;
	height: 40px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	background-color: #6E5A47;
	border: none;
	border-radius: 15px;
	color: white;
}

