/*

	game.css

*/

#game-table-ships {
	display: none;
	overflow: visible;
	position: relative;
}


.game-table-ships-buttons {
	height: 40px;
	width: 205px;
	position: absolute;
	left: 70px;
	top: 290px;

}

.game-table-ships-button {
	width: 100px;
	height: 40px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	background-color: #6E5A47;
	border: none;
	border-radius: 15px;
	color: white;
}

