body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	background-color: #FEFFFD;
}

a {
	text-decoration: none;
	color: black;
}

#wrapper {
	width: 760px;
	height: 750px;
	margin: auto auto auto auto;
	position: relative;
	background-image: url("../gfx/ScrollBody2.png");
}

#avatar-div {
	width: 100%;
	height: 100px;
}

#avatar-pic {
	width: 75px;
	height: 75px;
	float: right;
	margin: 35px 35px auto auto;
}

#menu {
	width: 100%;
	height: 70px;
}

.menu-items {
	float: right;
	margin-right: 10px;
}

.menu-item {
	padding: 0px 5px 0px 5px;
	height: 25px;
	float: left;
	margin-right: 5px;
	text-align: center;
	font-family: 'Kaushan Script';
	font-size: 20px;
	color: black;
}

#content {
	width: 760px;
	height: 500px;
}

#game-tablearea {
	width: 690px;
	height: 345px;
	margin: auto 35px auto 35px;
}

.game-table-wrapper {
	margin-top: 5px;
	width: 340px;
	height: 340px;
	background-image: url("../gfx/Border.png");
}

.game-table {
	width: 322px;
	height: 322px;
	padding-left: 10px;
	padding-top: 10px;
	position: relative;
}

.game-table-wrapper-left {
	float: left;
}

.game-table-wrapper-right {
	float: right;
}

.game-table-row {
	margin: 0;
	padding: 0;
}

.game-table-cell {
  position: relative;
	height: 30px;
	width: 30px;
	margin: 0;
	padding: 0;
	float: left;
	border: 1px solid #CCC2C2;
	background-image: url('../gfx/WaterTexture.png');
}

.game-table-cell img {
  top: 0;
  left: 0;
  position: absolute;
}

#game-chat {
	width: 688px;
	margin: 8px 35px auto 35px;
	height: 155px;
	border: 1px solid black;
}

#game-chat-log {
	width: 100%;
	height: 125px;
	margin: auto auto auto auto;
	padding-left: 2px;
}

#game-chat-input {
	width: 678px;
	padding-left: 2px;
}

#game-chat-input-text {
	width: 100%;
	height: 20px;
}

#lobby {
	width: 100%;
	height: 275px;
}

#lobby-games {
	width: 210px;
	height: 225px;
	border: 1px solid black;
	float: right;
	padding: 2px;
	margin: 5px 35px 5px 0px;
}

#lobby-chat-log {
	width: 460px;
	height: 460px;
	float: left;
	border: 1px solid black;
	padding: 2px;
	margin: 5px 5px 5px 35px;
}

#lobby-chat-userlist {
	width: 210px;
	height: 225px;
	float: right;
	border: 1px solid black;
	padding: 2px;
	margin: 0px 35px 5px 0px;
}

#lobby-chat-input {
	width: 687px;
	height: 20px;
	margin: auto auto auto auto;
	float:left;
	margin-left: 35px;
	margin-right: 35px;
}

.chat-input-text {
	width: 100%;
	font-style: italic;
}

.chat-scroll {
	overflow: auto;
}

.chat-message {
	width: 100%;
	border-bottom: 1px solid black;
	margin-top: 2px;
}

#login-header {
	height: 120px;
}

#login-head {
	padding-top: 40px;
	height: 150px;
	text-align: center;
	font-size: 16px;
}

#login-body {
	width: 300px;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	border: 3px solid #808080;
}

.lobby-table {
	text-align: center;
	width: 100%;
}

.lobby-table th {
	border-bottom: 1px solid black;
}

.lobby-table td {
	border: none;
}

.lobby-table tr {
	border-bottom: 1px solid black;
}

#scoreboard-div {
	text-align: center;
	width: 50%;
	margin: auto auto auto auto;
}

#replay-div {
	text-align: center;
	width: 70%;
	margin: auto auto auto auto;
}

.rotate90 img { 
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
